<div class="parent">  
    <div class="chat-container">  
      <div class="chat-window">  
        <h2>Добро пожаловать в чат!</h2>  
        <div class="messages">  
          <div *ngFor="let message of messages" class="message">  
            <strong>{{ message.username }}</strong>: {{ message.content }} <em class="date">{{ message.createdAt | date:'short' }}</em>  
          </div>  
        </div>  
        <div class="input-area">  
          <input type="text" [(ngModel)]="newMessageText" placeholder="Введите сообщение" required>  
          <button (click)="sendMessage()">Отправить</button>  
        </div>  
      </div>  
    </div>  
  </div>
